*{
    margin: 0;
    padding: 0%;
    font-family: Arial;
    border: border-box;
}

.navbar{
    border: border-box;
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width:  100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width:  100%;
}
.line{
    border: 2px solid transparent;
}
.line:hover{
    border: 1.5px solid white;
}

/*box-2*/

.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/*  box 3   */
.nav-search{
    display: flex;
    width: 1254px;
    height: 60px;
    margin-left: 18px;
    align-items: center;
    border-radius: 4px;
    
}
.search-input:hover{
    border: 2px solid #febd69;
}
.search-input{
    height: 38px;
    width: 1114.59px;
    font-size: 1rem;
    border: 0px;
    
}
.search-icon{
    background-color: #febd69;
    height: 38px;
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    
}
#search-select{
    height: 38px;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0px;
    background-color: #f3f3f3;
}
/* box 4 */

.flag-box{
    height: 33px;
    width: 55px;
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    padding: 0px 9px 9px 5px ;
    margin-left: 1px;   
}
.flag-icon{
    background-color: transparent;
    height: 18.5px;
    width: 22.5px;
    display: flex;
    
    
}
.country-name{
    height: 15px;
    width: 18.38px;
    font-size: 14px;
    margin-left:4px ;
    
    font-weight: 700;
    margin-top: 2px;
}
.nav-icon{
    height: 2px;
    width: 2px;
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top-color: #a7acb2;
}
/* box 5*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-signin{
    height: 40px;
    width: 113.531px;
    padding: 0px 9px 0px 9px ;
    margin-right: 6px;
}
/*box 6*/
.nav-returns{
    height: 40px;
    width: 58.953px;
    padding: 0px 9px 0px 9px;
    margin-right: 6px; 
}
.drop-down{
    display: flex;
}
.drop-down2{
    margin-left: 3px;
}
.nav-cart i{
    font-size: 30px;
    padding: 5px 0px 5px 9px;
    
   

}
.nav-cart{
    font-weight: 700;
    margin-right: 5px;
    padding: 5px 9px 5px 9px;;

}


/*panel*/
.panel{
    background-color: #232f3e;
    display: flex;
    color: white;
    height: 40px;
    width: 1903px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 0px 0px 15px;
}
.panel-all{
    font-weight: 700;
    margin-top: 3px;
}
.panel-ops p{
    display: inline;
    
    font-size: 14px;
    margin-right: 20px;
    padding: 8px 12px 8px 12px;
    color: #fff;
}
.panel-ops{
    width: 70%;
    margin-right: 230px;
    font-weight: 500;
    color: #fff;
}
.panel-ops a{
        color: #fff;
        text-decoration: none;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.panel-deals a{
    color: #fff;
    text-decoration:none ;
}


/*hero-section*/

.hero-section{
    background-image: url(hero-image2.jpg);
    height: 600px;
   
    
    background-size: cover;
}
.box{
    height: 420px;
    width: 420px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

/***shop-section***/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e0e0e0;

}
.box1{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.boximage-sec1{
    display: flex;
    padding-left:20px;
    padding-right: 20px;
    margin-right: 2px;
}
.box-1img1{
    height: 115px;
    width: 185px;
    background-image: url("box-1img1.jpg");
    background-size:cover ;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
.box-1img2{
    height: 115px;
    width: 185px;
    background-image: url("box-1img2.jpg");
    background-size:cover;
}
.boximage-sec2{
    display: flex;
    padding-left:20px;
    padding-right: 20px;
    margin-right: 2px;
}
.box-1img3{
    height: 115px;
    width: 185px;
    background-image: url("box-1img3.jpg");
    background-size: cover;
}
.box-1img4{
    height: 115px;
    width: 185px;
    background-image: url("box-1img4.jpg");
    background-size: cover;
}
.box-4img1{
    background-image: url("box-4img1.jpg");
    background-size: cover;
    height: 115px;
    width: 185px;
}
.box-4img2{
    background-image: url("box-4img2.jpg");
    background-size: cover;
    height: 115px;
    width: 185px;
}
.box-4img3{
    background-image: url("box-4img3.jpg");
    background-size: cover;
    height: 115px;
    width: 185px;
}
.box-4img4{
    background-image: url("box-4img4.jpg");
    background-size: cover;
    height: 115px;
    width: 185px;
}
.lebel1{
    height: 36px;
    width: 90px;
}
.lebel2{
    height: 36px;
    width: 90px;
}
.lebel3{
    height: 36px;
    width: 95px;
}
.lebel4{
    height: 36px;
    width: 100px;
}
.lebel1span{
    height: 18px;
    width: 83px;
}
.lebel4span{
    height: 18px;
    width: 49px;
}
.box1-footer{
    height: 19px;
    width: 310px;
    padding-left:20px;
    padding-right: 20px;
}
a{
    height: 19px;
    width: 310px;
    font-size: 13px;
    color: #007185;
    text-decoration: none;
}



/*box*/

.box-3img1{
    height: 115px;
    width: 185px;
    background-image:url("box-3img1.jpg");
    background-size:cover ;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.box-3img2{
    height: 115px;
    width: 185px;
    background-image:url("box-3img2.jpg");
    background-size:cover ;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.box-3img3{
    height: 115px;
    width: 185px;
    background-image:url("box-3img3.jpg");
    background-size:cover ;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.box-3img4{
    height: 115px;
    width: 185px;
    background-image:url("box-3img4.jpg");
    background-size:cover ;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.full-secimg2{
    margin-left: 10px
}
.full-secimg4{
    margin-left: 10px;
}
.full-imgsec{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.box-img{
    height: 322px;
    width: 378px;
    background-size: cover;
    margin-top: 22px;
    margin-bottom: 22px;
}
.box-content{
    padding-left: 20px;
    padding-right: 20px;
}

/*footer*/
footer{
    margin-top: 15px;
}

.footer-penel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer-penel3{
    color: white;
    background-color: #232f3e;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
}
.footer-penel3 a{
    color: white;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    margin-top: 8px;
    font-size: 0.85rem;
    color: #dddddd;
}
.foot-penel3{
    background-color: #232f3e;
    border-top:2px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-penel4{
    color: #dddddd;
    background-color: #232f3e;
    
}
.pages a{
    color: #dddddd;
}
.pages{
    text-align: center;
    font-size: 0.7rem;
}
.copyright{
    text-align: center;
    font-size: 0.7rem;
}
.box-cont{
    margin-left: 20px;
}